.scrollLine_divMain {
  height: 100%;
  display: flex;
  gap: 16px;
  margin-left: 48px;
  text-align: center;
  vertical-align: middle;
}

.twoBtn {
  align-self: center;
}

.scrollLine_divMain2 {
  height: 90%;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.scrollLine_divMain2::-webkit-scrollbar {
  display: none;
}
